body {
  margin: 0;
}
#extension-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50em;
  flex-direction: column;
  background: #b2e1ff;
  background: -moz-linear-gradient(top, #b2e1ff 0%, #66b6fc 100%);
  background: -webkit-linear-gradient(top, #b2e1ff 0%,#66b6fc 100%);
  background: linear-gradient(to bottom, #b2e1ff 0%,#66b6fc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=0 );
}
#copy-clip-div {
  height: 5em;
  width: 80%;
  resize: none;
  margin-bottom: 0.5em;
}

#rules {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.max-button {
  width: 50%;
  height: 2.5em;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}